<div class="aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header" ng-show="bsAside.title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="aside-title">Edit <span ng-bind="bsAside.type"></span></h4>
            </div>
            <div class="aside-body">
                <input class="form-control" ng-model="bsAside.title">
                <textarea class="form-control" rows="10" cols="50" ng-model="bsAside.content"></textarea>
            </div>
            <div class="aside-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>