<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic angular hell</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-additions.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="dynamicAngular">

<div class="container" ng-controller="MyController">

    <div ng-repeat="element in document">
        <div dynamic-directive="element"></div>
    </div>

    <form class="form-inline">
        <select ng-model="selectedDirective" class="form-control"ng-options="key as key for (key, val) in components"></select> <button class="btn btn-primary" ng-click="addComponent(selectedDirective)">Add</button>
    </form>

</div>

<script src="lib/angular.min.js"></script>
<script src="lib/angular-animate.min.js"></script>
<script src="lib/angular-sanitize.min.js"></script>
<script src="lib/angular-strap.js"></script>
<script src="lib/angular-strap.tpl.min.js"></script>
<script src="app.js"></script>

</body>
</html>